name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.9"

      - name: Check environment
        run: |
          python --version
          pip --version
          which python

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas numpy scikit-learn scipy pyarrow psutil cloudpickle

      - name: Run MLflow project
        run: |
          cd MLproject
          mlflow run . --entry-point main --experiment-name modelling --env-manager=local
